# Mezcla de Dart y Flutter
.dart_tool/
.packages
.pub-cache/
.server/
build/

# Archivos específicos de Android
android/local.properties
android/key.properties
android/app/src/main/java/io/flutter/plugins/
**/GeneratedPluginRegistrant.java

# Archivos específicos de iOS/MacOS
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/Runner/GeneratedPluginRegistrant.[hm]
**/*.xcworkspace

# Configuración de IDEs
.idea/
*.iml
.vscode/